*,
*:before,
*:after
  box-sizing: inherit
  position: relative

html
  box-sizing: border-box
  color: $color-accent

body
  background: white

img
  max-width: 100%

ul
  list-style: none
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6, p
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: $font-medium
  font-smoothing: always
  font-weight: normal
  line-height: 1.4
  margin: 0
  text-rendering: optimizeLegibility

p
  font-family: $font-regular

.left
  float: left

.right
  float: right

.site-header
  border-bottom: 1px solid $color-border
  margin-bottom: $block-large
  padding: $block-med

.header-title
  font-size(15)

.input-search
  border: 2px solid $color-border
  border-radius: 3px
  padding: 10px 5px

.btn
  border 0
  outline: none
  transition: all 0.15s linear

.btn-primary
  background: $color-primary
  border-radius: 3px
  color: white
  font-family: $font-medium
  font-size(15)
  padding: 10px $block

.btn-circle
  background-color: white
  border: 2px solid $color-border
  border-radius: 100%
  height: 32px
  margin-left: $block-small
  padding: 0
  width: 32px
  text-align: center
  vertical-align: top
  &:hover
    border-color: $color-accent

.btn-icon
  line-height: 100%

.forum
  margin: 0 auto
  max-width: 800px

.the-list
  counter-reset: annotation-list
  margin-top: $block-large - $block

.list-item
  border-bottom: 2px solid $color-shade
  clearfix()
  padding: $block 0 $block $block

.item
  font-family: $font-medium
  font-size(21)
  color: $color-secondary
  &:before
    color: $color-accent
    content: counter(annotation-list) '.'
    counter-increment: annotation-list
    left: -30px
    position: absolute
    text-align: center
    top: -1px

.meta
  font-size(15)

.avatar-image
  border-radius: 100%
  height: 32px
  margin-left: $block-small
  width: 32px
