*,
*:before,
*:after {
  box-sizing: inherit;
  position: relative;
}

html {
  box-sizing: border-box;
  color: $color-accent;
}

body {
  background: white;
  font-family: $font-regular;
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-medium;
  font-smoothing: always;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
  text-rendering: optimizeLegibility;
}

p {
  font-family: $font-regular;
}

.left {
  float: left;
}

.right {
  float: right;
}

.site-header {
  border-bottom: 1px solid $color-border;
  padding: $block-med;
  height: $header-height;
  line-height: $header-height;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
}

.logo {
  top: 3px;
  margin-right: 5px;
}

.header-title {
  @include font-size(15);
}

.sign-up {
  margin: 30px 0;
}

label {
  display: block;
  padding: 20px 0 10px;
}

.form-field {
  font-family: $font-medium;
  border: 2px solid $color-border;
  border-radius: 3px;
  padding: 10px 20px;
  width: 100%;
}

.input-wrapper {
  position: relative;
}

.icon-pencil {
  position: absolute;
  z-index: 30;
  top: 50%;
  margin-top: -0.5em;
  left: 13px;
  color: #dfdfdf;
}

.new-item {
  padding: 10px 10px 10px 36px;
  z-index: 20;
  width: calc(100% - 146px);

  &:focus {
    outline: none;
  }
}

.typeahead-list {
  position: absolute;
  z-index: 10;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  top: -15px;
  right: -15px;
  left: -15px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.1);
  padding-top: 75px;
  li {
    cursor: pointer;
    padding: 15px 15px 15px 53px;
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-bottom-width: 0;
      border-radius: 0 0 4px 4px;
    }
    &.active {
      background-color: #eef7ff;
      &::after {
        content: "(Select to upvote)";
        font-style: italic;
        float: right;
        opacity: 0.5;
      }
    }
  }
}

.btn {
  border: 0;
  outline: none;
  transition: all 0.15s linear;
  display: inline-block;
}

.btn-primary {
  background: $color-primary;
  border-width: 0;
  float: right;
  border-radius: 3px;
  color: white;
  font-family: $font-medium;
  @include font-size(15);
  padding: 12px 40px;
  z-index: 20;
  &:focus {
    outline: none;
  }
}

.text-center {
  text-align: center;
}

.circle, .btn-circle {
  display: inline-block;
  background-color: white;
  border: 2px solid $color-border;
  border-radius: 100%;
  height: 32px;
  line-height: 29px;
  margin-left: $block-small;
  padding: 0;
  width: 32px;
  text-align: center;
  vertical-align: top;
}

.btn-circle {
  &:hover {
    border-color: $color-accent;
  }
  &.active {
    color: white;
    border-color: $color-primary;
    background-color: $color-primary;
  }
}

.btn-icon {
  line-height: 100%;
}

.content {
  margin: 0 auto;
  padding: $header-height 20px 20px;
  max-width: 800px;

  h1 {
    color: $color-secondary;
    padding: 20px 0;
  }
}

.sign-up {
  max-width: 600px;
}

$recently-added-width: 300px;

.recently-added {
  position: fixed;
  right: 0;
  width: $recently-added-width;
  top: 62px;
  bottom: 0;
  padding: 10px 20px;
  background: #f7f7f7;
  overflow: auto;
  .list-item {
    position: relative;
    top: auto !important;
    padding: 10px 0 10px 25px;
    background: none;
    &:hover {
      .controls, .vote-count {
        opacity: 1;
      }
    }
  }
  .avatars {
    display: none;
  }
  .meta {
    @include font-size(12);
  }
  .item {
    @include font-size(18);
  }
  .vote-count, .controls {
    transition: 0.3s opacity;
  }
  .controls {
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 11px;
  }
  .vote-count {
    opacity: 0;
  }
}

.list-wrapper {
  position: fixed;
  left: 0;
  top: 62px;
  bottom: 0;
  overflow: auto;
  width: calc(100% - #{$recently-added-width});

  .content {
    padding-top: $block-large;
  }
}

.the-list {
  list-style: none;
  margin-top: $block-large - $block;
  position: relative;
}

.list-item {
  border-bottom: 2px solid $color-shade;
  @include clearfix;
  padding: $block 0 $block $block;
  position: absolute;
  width: 100%;
  background-color: white;
  transition: top 0.15s ease-in-out;
}

.item {
  font-family: $font-medium;
  @include font-size(21);
  color: $color-secondary;
  .number {
    left: -30px;
    position: absolute;
    text-align: center;
    top: -1px;
    color: $color-accent;
    &::after {
      content: ".";
    }
  }
}

.meta {
  @include font-size(15);
}

.avatars {
  display: inline-block;
}

.avatar-image {
  border-radius: 100%;
  height: 32px;
  margin-left: $block-small;
  width: 32px;
}
