doctype html
html(itemscope='', itemtype='http://schema.org/WebPage', lang='en', ng-app="copyright")
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Teespring Copyright Reviewer')
    meta(name='author', content= "MojoTech")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='css/styles.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet', type='text/css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    title= pageTitle
