header.site-header
  h1.header-title Modernator

section.forum
  form
    input.input.input-search(type='text', name='search', placeholder='Search your favorite beer')
    button.search-button.btn.btn-primary(type='submit') Submit
  ul.the-list
    li.list-item
      .left
        h3.item Narragansett, Matunick, Wheeler
        p.meta Jacob &nbsp; &#8226; &nbsp;
          time 3 Hours Ago
      .right
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/whale/128.jpg", alt="Avatar")
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg", alt="Avatar")
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg", alt="Avatar")
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg", alt="Avatar")
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/tomaslau/128.jpg", alt="Avatar")
        button.btn.btn-circle
          i.fa.fa-chevron-up
    li.list-item
      .left
        h3.item Control, Alt, Delete
        p.meta Dufresne &nbsp; &#8226; &nbsp;
          time 2 Hours Ago
      .right
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/waferbaby/128.jpg", alt="Avatar")
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/robinraszka/128.jpg", alt="Avatar")
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg", alt="Avatar")
        button.btn.btn-circle
          i.fa.fa-chevron-up
    li.list-item
      .left
        h3.item Omar, Bubbles, Stringer
        p.meta Nick &nbsp; &#8226; &nbsp;
          time 45 Minutes Ago
      .right
        img.avatar-image(src="https://s3.amazonaws.com/uifaces/faces/twitter/anoff/128.jpg", alt="Avatar")
        button.btn.btn-circle
          i.fa.fa-chevron-up
    li.list-item
      .left
        h3.item Vehicula, Sem, Egestas
        p.meta Rossi &nbsp; &#8226; &nbsp;
          time 17 Minutes Ago
      .right
        button.btn.btn-circle
          i.fa.fa-chevron-up
