@font-face
  font-family: 'Effra-Regular'
  src: url('../fonts/Effra-Regular.eot?#iefix') format('../fonts/embedded-opentype'),  url('../fonts/Effra-Regular.woff') format('woff'), url('../fonts/Effra-Regular.ttf')  format('truetype'), url('../fonts/Effra-Regular.svg#Effra-Regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'EffraMedium-Regular'
  src: url('../fonts/EffraMedium-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/EffraMedium-Regular.woff') format('woff'), url('../fonts/EffraMedium-Regular.ttf')  format('truetype'), url('../fonts/EffraMedium-Regular.svg#EffraMedium-Regular') format('svg')
  font-weight: normal
  font-style: normal
